<!-- <h2>Login</h2>
<form (ngSubmit)="onLogin()">
  <label for="email">Email:</label>
  <input
    [(ngModel)]="email"
    name="email"
    type="email"
    id="email"
    required
    placeholder="Enter your email"
    title="Your email address"
  />

  <label for="password">Password:</label>
  <input
    [(ngModel)]="password"
    name="password"
    type="password"
    id="password"
    required
    placeholder="Enter your password"
    title="Your secret password"
  />

  <button type="submit">Login</button>
</form> -->
